<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable	=no")
  title Lyplace
  meta(name="description" content="busca moteles para disfrutar con su pareja, busca con tu presupuesto")
  link(rel="shortcut icon" type="image/png" href="favicon.png")
  meta(meta name="theme-color" content="#CC4335")
  
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic' rel='stylesheet' type='text/css')
  link(rel="stylesheet", href="css/foundation.css")
  link(rel="stylesheet", href="css/global.css")
body
  main
    .general__contendor
      header.header
        .header__logo
          img(src="img/lyplace_brand.png", alt="lyplace busca moteles que se adapten a tu presupuesto")
        .redes
          p siguenos en
          a(href="https://www.facebook.com/lyplace/" target="_black").icon.icon-social-facebook
          //- a(href="").icon.icon-social-instagram
      .info__lyplace
        .info__contenedor
          .frase
            p  Ahora es más fácil encontrar ese lugar especial <br> 
              span para expresar todo tu amor.
            p.trabajando Próximamente
      footer.footer
        p Copyright © 2016 LyPlace.com, Todos los derechos reservados
        
  script(src="js/retina.min.js")
