<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable	=no")
  title Lyplace
  link(link rel="shortcut icon" href="favicon.png" type="image/x-icon")
  meta(name='theme-color', content='#CC4335')
  
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic' rel='stylesheet' type='text/css')
  link(rel="stylesheet", href="css/foundation.css")
  link(rel="stylesheet", href="css/global.css")
body
  main
    .general__contendor
      .info__lyplace
        .info__contenedor
          .logo-lyplace
            img(src="img/lyplace_logo.png", alt="lyplce busqueda de moteles")
          .frase
            p  Ahora es más fácil encontrar ese lugar especial para expresar todo tu amor.
            p.trabajando Próximamente sitio Web... prueba
          .redes
            a(href="https://www.facebook.com/lyplace/" target="_black").icon.icon-social-facebook
            //- a(href="").icon.icon-social-instagram
      footer.footer
        p Copyright © 2016 LyPlace.com, Todos los derechos reservados
        
  //- script(src="js/retina.min.js")
